---
import { fade } from "astro:transitions";
import BaseLayout from "./BaseLayout.astro";

const {
  frontmatter: { title, pubDate, author, description, image, tags },
} = Astro.props;
---

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>

<BaseLayout pageTitle={title}>
  <p transition:animate={fade({ duration: "2s" })}><em>{description}</em></p>
  <p>Published on: {pubDate.toString().slice(0, 10)}</p>
  <p>Written by: <a href="/about">{author}</a></p>
  <img src={image.url} alt={image.alt} width="300" />
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>
